<form method="get" id="search-form" class="main-container">
  <header>
    <input class="search-field" name="p_q" type="text" id="search-field" placeholder="Search our products" value="<%= @params[:p_q] %>">
  </header>
  <section>
    <aside>
      <h4>Sort By</h4>
      <div class="input-element">
        <input id="relevance" name="sort_by" type="radio" value="relevance" <%= 'checked' if @params[:sort_by] == 'relevance' %>>
        <label for="relevance">Relevance</label>
      </div>
      <div class="input-element">
        <input id="high_price" name="sort_by" type="radio" value="high_price" <%= 'checked' if @params[:sort_by] == 'high_price' %>>
        <label for="high_price">High Price</label>
      </div>
      <div class="input-element">
        <input id="low_price" name="sort_by" type="radio" value="low_price" <%= 'checked' if @params[:sort_by] == 'low_price' %>>
        <label for="low_price">Low Price</label>
      </div>
      <h4>Filter By Price</h4>
      <p>
        <input name="min" type="number" placeholder="Min Price" min="1" value="<%= @params[:min] %>" />
      </p>
      <p>
        <input name="max" type="number" placeholder="Max Price" min="1" value="<%= @params[:max] %>" />
      </p>
      <h4>Filter By Country</h4>
      <% for  @c in @countries %>
        <div class="input-element">
          <input id="<%= @c %>" name="sc[]" type="checkbox" value="<%= @c %>" <%= 'checked' if @params[:sc].include? @c %>>
          <label for="<%= @c %>"><%= @c %></label>
        </div>
      <% end  %>
    </aside>
    <article>
      <div class="search-results">
        <% for  @s in @products %>
          <div class="product">
            <h2><%= @s.title %></h2>
            <p><%= @s.description %></p>
            <p><%= @s.tags %></p>
            <p><%= @s.price %></p>
          </div>
        <% end  %>
      </div>
      <%= paginate @products %>
    </article>
  </section>
</form>

<script>
  window.onload = bindSearch();
</script>